.header_multi{
    background-color: #000!important;
}
.bfgfbnio {
    z-index: 999!important;
}
.ResAppBar-list-1 {
    width: 100%!important;
}
.MuiDrawer-paperAnchorTop {
    top: 57px!important;
}
.imgsize{
    height: 70px; 
    width: 70px;
}
.profile_options{
    display: flex;
}
.logotext{
      color: #fff;
      font-size: 20px!important;
      font-weight: 800!important;
}
.MuiContainer-maxWidthMd{
    text-align: left!important;
}